body {
  -webkit-overflow-scrolling: touch !important;
  background-color: #1c1b30;
}

#toolbar, .drag-area {
  -webkit-app-region: drag;
}

.titlebar {
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

button, input, .no-drag-area {
  -webkit-app-region: no-drag;
}

.App {
  /* text-align: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.custom-calendar {
  /* position: absolute;
  top: 200px; */
  display: flex;
  border: 1px solid #ececec;
  box-shadow: none;
  /* transform: scale(1.2); */
  /* box-shadow: 0 1em 3em rgba(156, 136, 255,0.2); */
}

.custom-today-day {
  color: #222 !important;
  border: 1px solid #ffe082 !important;
}

.custom-today-day::after {
  visibility: hidden; /* hide small border under the text */
}

@keyframes Toastify__trackProgress {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}

.Toastify__progress-bar {
  animation: Toastify__trackProgress linear 1;
}

/* 이미지 LightBox 커스텀 */
.ril__navButtonPrev {
  left: 180px !important;
}

.ril__toolbar {
  top: 64px !important;
}


.ril__image, .ril__imagePrev, .ril__imageNext {
  top: 64px !important;
  left: 180px !important;
  max-width: 500px !important;
  max-height: 100%;
}

/* 스크롤바 커스텀 */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffc739; 
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffa000; 
}

@media print {
  .print_no_area {display: none;}
}
